img {
  margin: auto;
  display: block;
}
.center {
   padding: 70px 0px;
   text-align: center;
 }
 table, th, td{
     border: 1px solid black;
 }
 table{
     border-collapse: collapse;
     align: center;
 }
 body {
     background-color: lightblue;
 }